div.document-id {
    min-width: 250px;
}

div.user-id {
    min-width: 150px;
}

div.created-at {
    min-width: 200px;
}

div.updated-at {
    min-width: 200px;
}

a.document-actions {
    cursor: pointer;
    margin-left: 5px;
}

div.documents {
    max-height: 500px;
    overflow-y: scroll;
}

div.document:nth-child(odd) {
    background-color: #f8f8f8;
}

div#upload-container {
    margin-top: 10px;
}

div.user {
    padding: 5px;
}

div.overview {
    margin-bottom: 50px;
}

div#account-details {
    margin-left: 20px;
}

img#user-image {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}

span.upload-label {
    margin-right: 10px;
}

input.upload-input {
    width: 300px;
    margin-right: 10px;
}
