<div class="tasks-list">
  <div class="task" ng-repeat="task in tasks">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title flex-container">
          <span class="id" ng-bind="task.task_id"></span>
          <a class="taskname flex-item" href="" ng-click="expandTask(task)" ng-bind="task.task_name"></a>
          <span ng-show="task.user_name">by</span>
          <a class="username" ng-href="#/users/{{task.user_id}}" ng-bind="task.user_name"></a>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="expandedTask != task">
        <span class="padded loading-message" ng-show="loading">
          <img src="images/spinner.gif">
          Refreshing...
        </span>
        <span class="padded loading-message" ng-show="!loading && documents.length == 0">There are no documents for this task.</span>
        <input type="text" class="upload-input filter" ng-model="documentFilter" placeholder="Filter" ng-show="documents.length != 0">
        <div class="padded documents" nv-file-drop uploader="uploader" ng-show="documents.length != 0" infinite-scroll="addMoreDocuments()" infinite-scroll-distance="2">
          <div class="content-wrapper">
            <div class="panel panel-default" ng-repeat="document in documents | filter:documentFilter | limitTo:documentCount track by document.document_id">
              <div class="panel-heading">
                <h4 class="panel-title flex-container">
                  <a class="flex-item" href="" ng-click="expandDocument(document)">{{::document.document_id}}</a>
                  <span>{{::document.user_document_count}}</span>
                  <span class="glyphicon glyphicon-user"></span>
                  <a class="action" ng-href="{{generateExportDocumentLinkFor(document)}}" title="Export the text and your annotations in BioC format">
                    <span class="glyphicon glyphicon-share"></span>
                  </a>
                  <a class="action" href="" ng-click="deleteDocument(document)" title="Delete this document and all annotations">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                  <a class="action" ng-href="{{generateTextAELinkFor(document)}}">
                    <span class="glyphicon glyphicon-file"></span>
                    <span>Show</span>
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" uib-collapse="expandedDocument != document">
                <span class="padded loading-message" ng-show="loadingDocument">
                  <img src="images/spinner.gif">
                  Refreshing...
                </span>
                <span class="padded" ng-show="userDocuments.length == 0">
                  There are no annotations yet.
                  <a ng-href="{{generateTextAELinkFor(document)}}">
                    View this document
                  </a>
                </span>
                <div class="flex-container" ng-show="userDocuments.length != 0">
                  <table class="table table-striped">
                    <tr>
                      <th>User</th>
                      <th>Entities</th>
                      <th>Relations</th>
                      <th>Actions</th>
                    </tr>
                    <tr ng-repeat="userDocument in userDocuments track by userDocument.id">
                      <td>
                        <a ng-href="#/users/{{userDocument.user_id}}">
                          {{::userDocument.user_name}}
                        </a>
                      </td>
                      <td>{{::userDocument.entities}}</td>
                      <td>{{::userDocument.pairs}}</td>
                      <td>
                        <a href="" ng-click="deleteUserDocument(userDocument)"
                          title="Delete all annotations in this document made by {{userDocument.user_name}}">
                          <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <a href="" ng-click="toggleDocumentVisibility(document.document_id, userDocument)" ng-show="userDocument.from_current_user"
                        title="Determine whether this document is visible to other users and can be used to improve prediction.">
                          <span ng-class="getVisibilityToggleClassFor(userDocument)"></span>
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-container" id="upload-container">
          <div class="flex-item"></div>
          <span class="upload-label">Local file upload:</span>
          <input class="upload-input" type="file" file="files[task.task_id]" id="file-upload" multiple>
          <button class="btn btn-default upload-button" ng-click="upload()">upload</button>
        </div>
        <div class="flex-container" id="pubmed-upload">
          <div class="flex-item"></div>
          <span class="upload-label">PubMed import:</span>
          <input class="upload-input" ng-model="task.pubmedId" placeholder="PMID">
          <button class="btn btn-default upload-button" ng-click="uploadFromPubmed()">upload</button>
        </div>
      </div>
    </div>
  </div>
</div>
