<span class="padded loading-message" ng-show="loading">Refreshing...</span>
<span class="padded loading-message" ng-show="!loading && allTasks.length == 0">There are no tasks.</span>
<div class="tasks-list">
  <div class="task" ng-repeat="task in allTasks">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title flex-container">
          <span class="id" ng-bind="task.task_id"></span>
          <span class="taskname flex-item">
            {{::task.task_name}}
          </span>
          <span ng-show="task.user_name">by</span>
          <a class="username" ng-href="#/users/{{task.user_id}}">
            {{::task.user_name}}
          </a>
        </h4>
      </div>
      <div class="panel-collapse">
        <div class="padded" ng-form="taskForm">
          <div class="padded input-group">
            <span class="input-group-addon">Task Name</span>
            <input type="text" class="form-control" required ng-model="task.task_name">
          </div>
          <div class="padded input-group" ng-hide="task.task_id == null">
            <span class="input-group-addon">Document Table Name</span>
            <input type="text" class="form-control" ng-model="task.task_domain" disabled="true">
          </div>
          <div class="padded input-group">
            <span class="input-group-addon">Text Analysis Configuration</span>
            <select ng-required="true" class="form-control" ng-model="task.task_config" ng-options="config.config as config.label for config in configs"></select>
          </div>
          <div class="padded input-group" ng-hide="task.task_id == null">
            <span class="input-group-addon">Author</span>
            <input required class="form-control" ng-disabled="true" ng-model="task.user_id">
          </div>
          <div class="actions flex-container">
            <div class="flex-item"></div>
            <button class="btn btn-success" ng-click="update(task)" ng-show="task.task_id == null">Save</button>
            <button class="btn btn-info" ng-click="update(task)" ng-hide="task.task_id == null">Update</button>
            <button class="btn btn-danger" ng-click="delete(task)" ng-hide="task.task_id == null">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-item"></div>
    <button class="btn btn-success" ng-click="addTask()">Add Task</button>
  </div>
</div>
