<h3>Entity Types</h3>

<div ng-show="entityTypesLoading">
    Loading...
</div>
<div ng-show="entityTypes.length == 0 && !entityTypesLoading">
    There are no custom entity types defined for this task.
</div>
<div class="table">
    <div class="striped flex-container" ng-repeat="entityType in entityTypes">
        <div class="type-label">{{entityType.label}}</div>
        <span class="code label label-info">{{entityType.code}}</span>
        <span class="name">{{entityType.name}}</span>
        <span class="action glyphicon glyphicon-pencil" ng-click="editEntityType(entityType)"></span>
        <span class="action glyphicon glyphicon-trash" ng-click="deleteType(entityType)"></span>
    </div>
</div>
<a href="">
    <button class="btn btn-success" ng-click="addEntityType()">
        <span class="glyphicon glyphicon-plus"></span>
        Add Type
    </button>
</a>

<h3>Relation Types</h3>
