<div ng-show="user">
    <div class="flex-container overview">
        <img ng-src="{{user.image}}" id="user-image">
        <div id="account-details">
            <h3>{{user.name}}</h3>
            <h4>{{user.description}}</h4>
        </div>
    </div>
    <h4>Documents:</h4>
    <div class="documents" nv-file-drop uploader="uploader">
        <div class="document" ng-show="documents" ng-repeat="document in documents">
            <div class="user flex-container">
                <div class="document-id">{{document.id}}</div>
                <div class="user-id">{{document.user_id}}</div>
                <div class="created-at">{{document.created_at}}</div>
                <div class="updated-at">{{document.updated_at}}</div>
                <div class="flex-item"></div>
                <a class="document-actions" ng-click="predictDocument(document)">
                    Predict Interactions
                </a>
                <a class="document-actions" ng-click="deleteDocument(document)">
                    Delete
                </a>
                <a class="document-actions" ng-click="showDocument(document)">
                    Show
                </a>
            </div>
        </div>
    </div>
    <div ng-hide="documents">
        There are no documents for this user.
    </div>
    <div class="flex-container" id="upload-container">
        <div class="flex-item"></div>
        <span class="upload-label">Local file upload:</span>
        <input class="upload-input" type="file" file="files" id="file-upload">
        <button ng-click="upload()">upload</button>
    </div>
    <div class="flex-container" id="pubmed-upload">
        <div class="flex-item"></div>
        <span class="upload-label">PubMed import:</span>
        <input class="upload-input" ng-model="pubmedId" placeholder="PMID">
        <button ng-click="uploadFromPubmed()">upload</button>
    </div>
</div>
<div ng-hide="user">
    There is no data about this user available.
</div>
